In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import zscore

In [9]:
wru_ranking = pd.read_csv("C:\\Users\\ryyao\\OneDrive\\Desktop\\bootcamp\\data\\Word Rank University.csv")

In [13]:
wru_ranking.head(10)

,World Rank,University Names,Location,National Rank,Educational Rank,Employability Rank,Faculty Rank,Research Rank,Score
0,1Top 0.1%,Harvard University\n CWUR Rating System: Ed...,USA,1,1,1,1,1,100.0
1,2Top 0.1%,Massachusetts Institute of Technology\n Educa...,USA,2,4,12,3,9,96.7
2,3Top 0.1%,Stanford University\n Education: A+; Employab...,USA,3,11,4,2,2,95.2
3,4Top 0.1%,University of Cambridge\n Education: A+; Empl...,United Kingdom,1,3,25,5,11,94.1
4,5Top 0.1%,University of Oxford\n Education: A+; Employa...,United Kingdom,2,7,27,9,4,93.3
5,6Top 0.1%,Princeton University\n Education: A+; Employa...,USA,4,5,16,6,82,92.6
6,7Top 0.1%,University of Chicago\n Education: A+; Employ...,USA,5,8,15,22,28,92.1
7,8Top 0.1%,Columbia University\n Education: A+; Employab...,USA,6,12,14,10,13,91.6
8,9Top 0.1%,University of Pennsylvania\n Education: A; Em...,USA,7,14,8,45,12,91.2
9,10Top 0.1%,Yale University\n Education: A+; Employabilit...,USA,8,6,35,13,21,90.8

In [14]:
wru_ranking.dtypes

World Rank             object
University Names       object
Location               object
National Rank           int64
Educational Rank       object
Employability Rank     object
Faculty Rank           object
Research Rank          object
Score                 float64
dtype: object

In [15]:
wru_ranking.isnull().sum()

World Rank            0
University Names      0
Location              0
National Rank         0
Educational Rank      0
Employability Rank    0
Faculty Rank          0
Research Rank         0
Score                 0
dtype: int64

In [16]:
wru_ranking.tail()

,World Rank,University Names,Location,National Rank,Educational Rank,Employability Rank,Faculty Rank,Research Rank,Score
1995,1996Top 9.8%,Chongqing Jiaotong University,China,314,-,-,-,1917,66.0
1996,1997Top 9.8%,University of Arkansas at Little Rock,USA,332,-,1322,-,1920,66.0
1997,1998Top 9.8%,Van Yüzüncü Yıl University,Turkey,54,-,-,-,1919,66.0
1998,1999Top 9.8%,Bharathidasan University,India,64,-,-,-,1922,66.0
1999,2000Top 9.8%,Gebze Technical University,Turkey,55,-,-,-,1923,66.0

In [17]:
wru_ranking.sum()

World Rank            1Top 0.1%2Top 0.1%3Top 0.1%4Top 0.1%5Top 0.1%6...
University Names      Harvard University\n  CWUR Rating System:   Ed...
Location              USAUSAUSAUnited KingdomUnited KingdomUSAUSAUSA...
National Rank                                                    138490
Educational Rank      1411375812146293716993222313558171923340742538...
Employability Rank    1124252716151483596596291740192636644931143163...
Faculty Rank          1325962210451374113183162201614191111123472536...
Research Rank         1921148228131221831630233178155249174346104579...
Score                                                          143511.1
dtype: object

In [47]:
(wru_ranking['National Rank']=='-').sum()

0

In [48]:
(wru_ranking['Educational Rank']=='-').sum()

1562

In [49]:
(wru_ranking['Employability Rank']=='-').sum()

967

In [50]:
(wru_ranking['Faculty Rank']=='-').sum()

1727

In [51]:
(wru_ranking['Research Rank']=='-').sum()

66

In [52]:
(wru_ranking['Score']=='-').sum()

0

In [53]:
# sorting the data set

In [54]:
pd.set_option('display.max_rows', 100)

In [85]:
wru_ranking_sorted= wru_ranking.sort_values(by='National Rank')
wru_ranking[wru_ranking['Locat'] == 'USA'].head(100)


# wru_ranking['Location'] == 'USA'

,World Rank,University Names,Locat,National Rank,Educational Rank,Employability Rank,Faculty Rank,Research Rank,Score
0,1Top 0.1%,Harvard University\n CWUR Rating System: Ed...,USA,1,1,1,1,1,100.0
1,2Top 0.1%,Massachusetts Institute of Technology\n Educa...,USA,2,4,12,3,9,96.7
2,3Top 0.1%,Stanford University\n Education: A+; Employab...,USA,3,11,4,2,2,95.2
5,6Top 0.1%,Princeton University\n Education: A+; Employa...,USA,4,5,16,6,82,92.6
6,7Top 0.1%,University of Chicago\n Education: A+; Employ...,USA,5,8,15,22,28,92.1
7,8Top 0.1%,Columbia University\n Education: A+; Employab...,USA,6,12,14,10,13,91.6
8,9Top 0.1%,University of Pennsylvania\n Education: A; Em...,USA,7,14,8,45,12,91.2
9,10Top 0.1%,Yale University\n Education: A+; Employabilit...,USA,8,6,35,13,21,90.8
10,11Top 0.1%,California Institute of Technology\n Educatio...,USA,9,2,96,7,83,90.4
11,12Top 0.1%,"University of California, Berkeley\n Educatio...",USA,10,9,59,4,16,90.1
13,14Top 0.1%,Cornell University,USA,11,16,29,18,23,89.5
14,15Top 0.1%,Northwestern University,USA,12,99,17,31,31,89.3
15,16Top 0.1%,"University of Michigan, Ann Arbor",USA,13,32,40,62,7,89.1
16,17Top 0.1%,Johns Hopkins University,USA,14,22,192,20,8,88.8
17,18Top 0.1%,"University of California, Los Angeles",USA,15,31,63,16,15,88.6
19,20Top 0.1%,Duke University,USA,16,58,49,19,24,88.2
21,22Top 0.2%,University of Illinois at Urbana–Champaign,USA,17,19,143,11,74,87.9
23,24Top 0.2%,New York University,USA,18,40,45,47,46,87.5
24,25Top 0.2%,University of Washington,USA,19,74,227,25,10,87.4
27,28Top 0.2%,University of Wisconsin–Madison,USA,20,36,102,30,41,87.0
32,33Top 0.2%,"University of California, San Diego",USA,21,128,1520,12,22,86.3
33,34Top 0.2%,University of Texas at Austin,USA,22,92,64,17,63,86.2
35,36Top 0.2%,"University of California, San Francisco",USA,23,-,1554,15,27,86.0
36,37Top 0.2%,University of North Carolina at Chapel Hill,USA,24,76,92,71,39,85.9
41,42Top 0.3%,Dartmouth College,USA,25,45,18,107,286,85.4
42,43Top 0.3%,Washington University in St. Louis,USA,26,106,144,37,48,85.3
46,47Top 0.3%,University of Minnesota - Twin Cities,USA,27,78,318,84,34,84.9
51,52Top 0.3%,"University of California, Davis",USA,28,87,526,54,54,84.5
52,53Top 0.3%,University of Southern California,USA,29,252,133,29,75,84.5
53,54Top 0.3%,Pennsylvania State University,USA,30,297,171,56,55,84.4
55,56Top 0.3%,Vanderbilt University,USA,31,392,89,65,71,84.2
59,60Top 0.3%,Ohio State University,USA,32,129,294,133,40,84.0
60,61Top 0.3%,Rockefeller University,USA,33,13,-,8,460,83.9
61,62Top 0.4%,Rutgers University,USA,34,230,150,27,95,83.8
63,64Top 0.4%,Brown University,USA,35,75,55,121,138,83.7
64,65Top 0.4%,Purdue University,USA,36,94,91,75,114,83.6
65,66Top 0.4%,University of Colorado Boulder,USA,37,153,169,52,97,83.6
66,67Top 0.4%,Georgia Institute of Technology,USA,38,313,165,26,115,83.5
68,69Top 0.4%,"Texas A&M University, College Station",USA,39,-,129,72,85,83.4
70,71Top 0.4%,University of Virginia,USA,40,358,37,176,137,83.3
72,73Top 0.4%,University of Texas Southwestern Medical Center,USA,41,41,-,42,167,83.2
74,75Top 0.4%,University of Pittsburgh,USA,42,234,208,267,38,83.0
78,79Top 0.4%,"University of Maryland, College Park",USA,43,122,387,152,68,82.8
81,82Top 0.4%,"University of California, Irvine",USA,44,393,1229,34,110,82.7
85,86Top 0.5%,University of Florida,USA,45,326,426,139,65,82.5
89,90Top 0.5%,Boston University,USA,46,428,111,200,80,82.3
90,91Top 0.5%,University of Rochester,USA,47,65,70,132,185,82.2
94,95Top 0.5%,University of Arizona,USA,48,498,237,73,107,82.1
97,98Top 0.5%,"University of California, Santa Barbara",USA,49,211,535,21,156,81.9
98,99Top 0.5%,Carnegie Mellon University,USA,50,70,113,40,223,81.9
111,112Top 0.6%,University of Texas MD Anderson Cancer Center,USA,51,-,-,88,98,81.4
113,114Top 0.6%,Indiana University Bloomington,USA,52,251,94,178,119,81.3
116,117Top 0.6%,University of Utah,USA,53,302,202,135,111,81.2
130,131Top 0.7%,Emory University,USA,54,469,270,-,70,80.7
131,132Top 0.7%,Baylor College of Medicine,USA,55,93,-,159,126,80.6
141,142Top 0.7%,Case Western Reserve University,USA,56,69,297,182,170,80.3
143,144Top 0.8%,University of Colorado Anschutz Medical Campus,USA,57,-,-,95,150,80.3
144,145Top 0.8%,University of Iowa,USA,58,104,268,186,149,80.2
150,151Top 0.8%,Michigan State University,USA,59,202,195,-,113,80.0
152,153Top 0.8%,Tufts University,USA,60,86,69,165,271,80.0
163,164Top 0.8%,Icahn School of Medicine at Mount Sinai,USA,61,-,-,-,108,79.7
166,167Top 0.9%,Rice University,USA,62,105,122,119,269,79.6
168,169Top 0.9%,University of Massachusetts Amherst,USA,63,496,276,76,226,79.5
181,182Top 0.9%,Iowa State University,USA,64,340,142,153,225,79.2
182,183Top 0.9%,University of Notre Dame,USA,65,307,39,-,300,79.2
185,186Top 1%,Arizona State University,USA,66,444,591,266,143,79.1
188,189Top 1%,University of Alabama at Birmingham,USA,67,-,1085,206,169,79.0
195,196Top 1%,North Carolina State University,USA,68,371,437,179,192,78.9
198,199Top 1%,University of Connecticut,USA,69,495,389,114,233,78.8
200,201Top 1%,Stony Brook University,USA,70,219,-,147,217,78.7
208,209Top 1.1%,University of Kansas,USA,71,250,528,116,253,78.6
212,213Top 1.1%,University of Georgia,USA,72,434,290,166,229,78.5
222,223Top 1.1%,The Scripps Research Institute,USA,73,-,-,32,358,78.3
223,224Top 1.1%,"University of Tennessee, Knoxville",USA,74,433,559,222,208,78.2
224,225Top 1.1%,Georgetown University,USA,75,377,43,-,343,78.2
229,230Top 1.2%,University of Missouri–Columbia,USA,76,437,245,89,322,78.1
235,236Top 1.2%,University of Miami,USA,77,-,228,-,206,78.0
238,239Top 1.2%,Brandeis University,USA,78,33,256,48,663,77.9
239,240Top 1.2%,University of Illinois at Chicago,USA,79,499,777,279,188,77.9
240,241Top 1.2%,University of Cincinnati,USA,80,488,263,-,200,77.9
249,250Top 1.3%,Yeshiva University,USA,81,111,-,198,274,77.7
251,252Top 1.3%,"University of California, Riverside",USA,82,394,-,213,240,77.7
255,256Top 1.3%,University of Texas Health Science Center at H...,USA,83,-,-,148,275,77.6
259,260Top 1.3%,Colorado State University,USA,84,463,1412,194,257,77.5
260,261Top 1.3%,University of Houston,USA,85,-,184,127,344,77.5
261,262Top 1.3%,Wake Forest University,USA,86,-,67,-,334,77.5
264,265Top 1.3%,Virginia Commonwealth University,USA,87,-,971,122,312,77.4
268,269Top 1.4%,Oregon Health & Science University,USA,88,-,-,-,218,77.4
269,270Top 1.4%,Virginia Tech,USA,89,501,327,-,231,77.4
272,273Top 1.4%,Oregon State University,USA,90,243,509,217,277,77.3
286,287Top 1.4%,George Washington University,USA,91,406,147,-,283,77.1
294,295Top 1.5%,Florida State University,USA,92,-,515,-,250,76.9
300,301Top 1.5%,University of Massachusetts Medical School,USA,93,-,-,85,396,76.8
301,302Top 1.5%,Washington State University,USA,94,-,1036,184,319,76.8
302,303Top 1.5%,"University of Maryland, Baltimore",USA,95,-,-,-,251,76.8
304,305Top 1.5%,University at Buffalo,USA,96,-,625,-,262,76.8
305,306Top 1.5%,"University of California, Santa Cruz",USA,97,378,1299,271,273,76.8
307,308Top 1.6%,University of Delaware,USA,98,382,438,167,357,76.7
309,310Top 1.6%,University of Kentucky,USA,99,292,529,-,270,76.7
313,314Top 1.6%,University of South Florida,USA,100,-,856,-,265,76.6

In [68]:
wru_ranking.dtypes

World Rank             object
University Names       object
Location               object
National Rank           int64
Educational Rank       object
Employability Rank     object
Faculty Rank           object
Research Rank          object
Score                 float64
dtype: object

In [70]:
filtered_rows = wru_ranking[wru_ranking['Location'] == 'USA']

KeyError: 'Location'

In [76]:
wru_ranking.rename(columns= {'Location ':'Locat'} , inplace=True  )
wru_ranking

,World Rank,University Names,Locat,National Rank,Educational Rank,Employability Rank,Faculty Rank,Research Rank,Score
0,1Top 0.1%,Harvard University\n CWUR Rating System: Ed...,USA,1,1,1,1,1,100.0
1,2Top 0.1%,Massachusetts Institute of Technology\n Educa...,USA,2,4,12,3,9,96.7
2,3Top 0.1%,Stanford University\n Education: A+; Employab...,USA,3,11,4,2,2,95.2
3,4Top 0.1%,University of Cambridge\n Education: A+; Empl...,United Kingdom,1,3,25,5,11,94.1
4,5Top 0.1%,University of Oxford\n Education: A+; Employa...,United Kingdom,2,7,27,9,4,93.3
...,...,...,...,...,...,...,...,...,...
1995,1996Top 9.8%,Chongqing Jiaotong University,China,314,-,-,-,1917,66.0
1996,1997Top 9.8%,University of Arkansas at Little Rock,USA,332,-,1322,-,1920,66.0
1997,1998Top 9.8%,Van Yüzüncü Yıl University,Turkey,54,-,-,-,1919,66.0
1998,1999Top 9.8%,Bharathidasan University,India,64,-,-,-,1922,66.0
1999,2000Top 9.8%,Gebze Technical University,Turkey,55,-,-,-,1923,66.0

In [86]:
#ranking in uk
wru_ranking_sorted= wru_ranking.sort_values(by='National Rank')
wru_ranking[wru_ranking['Locat'] == 'United Kingdom'].head(100)

,World Rank,University Names,Locat,National Rank,Educational Rank,Employability Rank,Faculty Rank,Research Rank,Score
3,4Top 0.1%,University of Cambridge\n Education: A+; Empl...,United Kingdom,1,3,25,5,11,94.1
4,5Top 0.1%,University of Oxford\n Education: A+; Employa...,United Kingdom,2,7,27,9,4,93.3
18,19Top 0.1%,University College London,United Kingdom,3,35,664,14,5,88.4
28,29Top 0.2%,Imperial College London,United Kingdom,4,68,123,55,18,86.8
39,40Top 0.2%,King's College London,United Kingdom,5,51,505,28,53,85.6
47,48Top 0.3%,University of Edinburgh,United Kingdom,6,55,473,63,49,84.9
49,50Top 0.3%,University of Manchester,United Kingdom,7,89,417,33,56,84.7
83,84Top 0.5%,University of Birmingham,United Kingdom,8,50,486,170,103,82.6
92,93Top 0.5%,University of Bristol,United Kingdom,9,186,430,78,99,82.1
107,108Top 0.6%,University of Leeds,United Kingdom,10,132,458,53,139,81.5
124,125Top 0.7%,University of Southampton,United Kingdom,11,454,293,115,117,80.9
128,129Top 0.7%,University of Glasgow,United Kingdom,12,133,397,141,123,80.7
135,136Top 0.7%,University of Liverpool,United Kingdom,13,151,522,97,151,80.5
138,139Top 0.7%,University of Nottingham,United Kingdom,14,193,553,106,144,80.4
151,152Top 0.8%,University of Sheffield,United Kingdom,15,197,655,151,146,80.0
154,155Top 0.8%,Queen Mary University of London,United Kingdom,16,115,699,145,172,79.9
155,156Top 0.8%,Cardiff University,United Kingdom,17,404,365,90,187,79.9
161,162Top 0.8%,Newcastle University,United Kingdom,18,489,596,91,191,79.7
176,177Top 0.9%,University of Warwick,United Kingdom,19,504,182,231,174,79.3
207,208Top 1.1%,London School of Hygiene & Tropical Medicine,United Kingdom,20,279,-,123,235,78.6
236,237Top 1.2%,University of Sussex,United Kingdom,21,112,576,81,354,78.0
247,248Top 1.3%,University of Leicester,United Kingdom,22,-,1396,96,296,77.8
252,253Top 1.3%,University of Reading,United Kingdom,23,126,134,110,407,77.7
254,255Top 1.3%,University of Exeter,United Kingdom,24,381,773,-,204,77.6
283,284Top 1.4%,University of East Anglia,United Kingdom,25,88,-,173,360,77.1
306,307Top 1.5%,University of Aberdeen,United Kingdom,26,289,799,157,356,76.7
323,324Top 1.6%,University of York,United Kingdom,27,227,-,-,287,76.5
326,327Top 1.6%,London School of Economics and Political Science,United Kingdom,28,265,85,261,435,76.4
334,335Top 1.7%,Durham University,United Kingdom,29,344,372,-,314,76.3
340,341Top 1.7%,Lancaster University,United Kingdom,30,-,647,-,313,76.2
364,365Top 1.8%,Queen's University Belfast,United Kingdom,31,403,1046,-,329,75.9
365,366Top 1.8%,University of St Andrews,United Kingdom,32,287,875,229,388,75.9
368,369Top 1.8%,University of Dundee,United Kingdom,33,511,993,138,449,75.8
442,443Top 2.2%,University of Bath,United Kingdom,34,-,579,-,428,74.9
483,484Top 2.4%,University of Surrey,United Kingdom,35,221,495,-,474,74.4
492,493Top 2.5%,University of Strathclyde,United Kingdom,36,-,376,-,486,74.3
532,533Top 2.6%,University of Hull,United Kingdom,37,170,337,137,731,73.9
551,552Top 2.7%,"Royal Holloway, University of London",United Kingdom,38,416,1107,223,600,73.7
571,572Top 2.8%,Swansea University,United Kingdom,39,-,1339,-,538,73.6
583,584Top 2.9%,Brunel University London,United Kingdom,40,-,646,-,563,73.4
629,630Top 3.1%,"Institute of Cancer Research, University of Lo...",United Kingdom,41,240,-,-,608,73.0
643,644Top 3.2%,Loughborough University,United Kingdom,42,-,1598,279,627,72.9
644,645Top 3.2%,"St George's, University of London",United Kingdom,43,-,-,-,612,72.9
666,667Top 3.3%,University of Kent,United Kingdom,44,-,913,-,640,72.7
678,679Top 3.4%,University of Plymouth,United Kingdom,45,-,1640,-,646,72.6
699,700Top 3.5%,Heriot-Watt University,United Kingdom,46,-,531,-,683,72.5
746,747Top 3.7%,"Birkbeck, University of London",United Kingdom,47,225,-,175,902,72.1
762,763Top 3.8%,Bangor University,United Kingdom,48,192,764,254,821,72.0
766,767Top 3.8%,University of Essex,United Kingdom,49,529,665,-,739,71.9
787,788Top 3.9%,Courtauld Institute of Art,United Kingdom,50,15,-,-,-,71.8
820,821Top 4%,"Open University, UK",United Kingdom,51,-,1710,-,785,71.6
821,822Top 4.1%,Northumbria University,United Kingdom,52,-,793,-,794,71.5
825,826Top 4.1%,Liverpool John Moores University,United Kingdom,53,-,-,-,787,71.5
837,838Top 4.1%,Cranfield University,United Kingdom,54,-,206,-,884,71.4
843,844Top 4.2%,London Business School,United Kingdom,55,-,44,-,1698,71.4
860,861Top 4.2%,"City, University of London",United Kingdom,56,533,588,-,838,71.3
867,868Top 4.3%,University of Brighton,United Kingdom,57,-,-,-,828,71.2
885,886Top 4.4%,University of Portsmouth,United Kingdom,58,-,1185,-,848,71.1
903,904Top 4.5%,University of Stirling,United Kingdom,59,-,624,-,878,71.0
905,906Top 4.5%,Aberystwyth University,United Kingdom,60,-,918,218,1016,71.0
924,925Top 4.6%,Keele University,United Kingdom,61,-,1427,-,883,70.9
943,944Top 4.6%,Aston University,United Kingdom,62,-,570,-,928,70.7
973,974Top 4.8%,Ulster University,United Kingdom,63,-,1338,-,930,70.6
1048,1049Top 5.2%,Manchester Metropolitan University,United Kingdom,64,-,849,-,1007,70.1
1089,1090Top 5.4%,Nottingham Trent University,United Kingdom,65,-,680,-,1064,69.9
1121,1122Top 5.5%,University of Hertfordshire,United Kingdom,66,-,-,-,1074,69.7
1161,1162Top 5.7%,Liverpool School of Tropical Medicine,United Kingdom,67,-,-,-,1110,69.5
1214,1215Top 6%,Coventry University,United Kingdom,68,-,1133,-,1166,69.2
1231,1232Top 6.1%,"University of the West of England, Bristol",United Kingdom,69,510,-,-,1181,69.1
1242,1243Top 6.1%,Bournemouth University,United Kingdom,70,-,1592,-,1191,69.1
1302,1303Top 6.4%,University of Greenwich,United Kingdom,71,238,1436,-,1287,68.8
1303,1304Top 6.4%,University of Lincoln,United Kingdom,72,-,-,-,1249,68.8
1340,1341Top 6.6%,University of Bradford,United Kingdom,73,-,326,-,1383,68.6
1352,1353Top 6.6%,Royal Veterinary College,United Kingdom,74,284,-,-,1314,68.6
1385,1386Top 6.8%,University of Central Lancashire,United Kingdom,75,-,1355,-,1327,68.4
1402,1403Top 6.9%,Anglia Ruskin University,United Kingdom,76,-,-,-,1341,68.3
1407,1408Top 6.9%,SOAS University of London,United Kingdom,77,71,974,-,1876,68.3
1420,1421Top 7%,University of Huddersfield,United Kingdom,78,-,1613,-,1358,68.2
1439,1440Top 7.1%,Oxford Brookes University,United Kingdom,79,-,-,-,1378,68.2
1517,1518Top 7.4%,De Montfort University,United Kingdom,80,-,1478,-,1453,67.8
1529,1530Top 7.5%,Middlesex University,United Kingdom,81,522,1023,-,1468,67.8
1533,1534Top 7.5%,University of Salford,United Kingdom,82,-,1465,-,1465,67.7
1598,1599Top 7.8%,Sheffield Hallam University,United Kingdom,83,-,1660,-,1532,67.5
1623,1624Top 8%,Kingston University,United Kingdom,84,480,536,-,1612,67.4
1653,1654Top 8.1%,Glasgow Caledonian University,United Kingdom,85,-,-,-,1581,67.3
1672,1673Top 8.2%,University of the West of Scotland,United Kingdom,86,-,1267,-,1603,67.2
1726,1727Top 8.5%,"Goldsmiths, University of London",United Kingdom,87,361,-,-,1660,67.0
1774,1775Top 8.7%,University of Westminster,United Kingdom,88,303,1216,-,1725,66.8
1821,1822Top 8.9%,University of the Highlands and Islands,United Kingdom,89,-,-,-,1749,66.6
1826,1827Top 8.9%,Edinburgh Napier University,United Kingdom,90,-,-,-,1755,66.6
1917,1918Top 9.4%,University of South Wales,United Kingdom,91,-,720,-,1878,66.3
1933,1934Top 9.5%,Leeds Beckett University,United Kingdom,92,-,-,-,1855,66.2
1967,1968Top 9.6%,University of Wolverhampton,United Kingdom,93,-,-,-,1889,66.1

In [91]:
wru_ranking_sorted= wru_ranking.sort_values(by='National Rank')
wru_ranking[wru_ranking['Locat'] == 'Saudi Arabia'].head(100)

,World Rank,University Names,Locat,National Rank,Educational Rank,Employability Rank,Faculty Rank,Research Rank,Score
244,245Top 1.2%,King Abdulaziz University,Saudi Arabia,1,-,1330,-,186,77.8
278,279Top 1.4%,King Abdullah University of Science and Techno...,Saudi Arabia,2,-,-,171,297,77.2
351,352Top 1.8%,King Saud University,Saudi Arabia,3,-,344,-,332,76.1
656,657Top 3.3%,King Fahd University of Petroleum and Minerals,Saudi Arabia,4,-,107,-,792,72.8
1310,1311Top 6.4%,King Saud bin Abdulaziz University for Health ...,Saudi Arabia,5,-,-,-,1255,68.8
1446,1447Top 7.1%,King Khalid University,Saudi Arabia,6,-,-,-,1385,68.1
1508,1509Top 7.4%,Taif University,Saudi Arabia,7,-,-,-,1445,67.9
1546,1547Top 7.6%,Imam Abdulrahman Bin Faisal University,Saudi Arabia,8,-,-,-,1484,67.7
1585,1586Top 7.8%,Taibah University,Saudi Arabia,9,-,-,-,1520,67.5
1710,1711Top 8.4%,Prince Sattam Bin Abdulaziz University,Saudi Arabia,10,-,-,-,1636,67.0
1741,1742Top 8.5%,Umm Al-Qura University,Saudi Arabia,11,-,-,-,1666,66.9
1761,1762Top 8.6%,Alfaisal University,Saudi Arabia,12,-,-,-,1688,66.8
1810,1811Top 8.9%,Jazan University,Saudi Arabia,13,-,-,-,1737,66.6
1906,1907Top 9.3%,Qassim University,Saudi Arabia,14,-,-,-,1830,66.3
1973,1974Top 9.7%,University of Tabuk,Saudi Arabia,15,-,-,-,1896,66.1
1978,1979Top 9.7%,King Faisal University,Saudi Arabia,16,-,-,-,1903,66.0

In [92]:
#top 100 uninversity
wru_ranking.head(100)

,World Rank,University Names,Locat,National Rank,Educational Rank,Employability Rank,Faculty Rank,Research Rank,Score
0,1Top 0.1%,Harvard University\n CWUR Rating System: Ed...,USA,1,1,1,1,1,100.0
1,2Top 0.1%,Massachusetts Institute of Technology\n Educa...,USA,2,4,12,3,9,96.7
2,3Top 0.1%,Stanford University\n Education: A+; Employab...,USA,3,11,4,2,2,95.2
3,4Top 0.1%,University of Cambridge\n Education: A+; Empl...,United Kingdom,1,3,25,5,11,94.1
4,5Top 0.1%,University of Oxford\n Education: A+; Employa...,United Kingdom,2,7,27,9,4,93.3
5,6Top 0.1%,Princeton University\n Education: A+; Employa...,USA,4,5,16,6,82,92.6
6,7Top 0.1%,University of Chicago\n Education: A+; Employ...,USA,5,8,15,22,28,92.1
7,8Top 0.1%,Columbia University\n Education: A+; Employab...,USA,6,12,14,10,13,91.6
8,9Top 0.1%,University of Pennsylvania\n Education: A; Em...,USA,7,14,8,45,12,91.2
9,10Top 0.1%,Yale University\n Education: A+; Employabilit...,USA,8,6,35,13,21,90.8
10,11Top 0.1%,California Institute of Technology\n Educatio...,USA,9,2,96,7,83,90.4
11,12Top 0.1%,"University of California, Berkeley\n Educatio...",USA,10,9,59,4,16,90.1
12,13Top 0.1%,University of Tokyo,Japan,1,37,6,113,30,89.8
13,14Top 0.1%,Cornell University,USA,11,16,29,18,23,89.5
14,15Top 0.1%,Northwestern University,USA,12,99,17,31,31,89.3
15,16Top 0.1%,"University of Michigan, Ann Arbor",USA,13,32,40,62,7,89.1
16,17Top 0.1%,Johns Hopkins University,USA,14,22,192,20,8,88.8
17,18Top 0.1%,"University of California, Los Angeles",USA,15,31,63,16,15,88.6
18,19Top 0.1%,University College London,United Kingdom,3,35,664,14,5,88.4
19,20Top 0.1%,Duke University,USA,16,58,49,19,24,88.2
20,21Top 0.2%,PSL University,France,1,17,31,111,91,88.0
21,22Top 0.2%,University of Illinois at Urbana–Champaign,USA,17,19,143,11,74,87.9
22,23Top 0.2%,University of Toronto,Canada,1,233,163,23,3,87.7
23,24Top 0.2%,New York University,USA,18,40,45,47,46,87.5
24,25Top 0.2%,University of Washington,USA,19,74,227,25,10,87.4
25,26Top 0.2%,McGill University,Canada,2,25,109,36,45,87.2
26,27Top 0.2%,Kyoto University,Japan,2,38,32,64,79,87.1
27,28Top 0.2%,University of Wisconsin–Madison,USA,20,36,102,30,41,87.0
28,29Top 0.2%,Imperial College London,United Kingdom,4,68,123,55,18,86.8
29,30Top 0.2%,ETH Zurich,Switzerland,1,64,88,24,42,86.7
30,31Top 0.2%,Seoul National University,South Korea,1,299,22,154,57,86.6
31,32Top 0.2%,Paris-Saclay University,France,2,152,137,46,14,86.4
32,33Top 0.2%,"University of California, San Diego",USA,21,128,1520,12,22,86.3
33,34Top 0.2%,University of Texas at Austin,USA,22,92,64,17,63,86.2
34,35Top 0.2%,University of Copenhagen,Denmark,1,96,379,41,26,86.1
35,36Top 0.2%,"University of California, San Francisco",USA,23,-,1554,15,27,86.0
36,37Top 0.2%,University of North Carolina at Chapel Hill,USA,24,76,92,71,39,85.9
37,38Top 0.2%,Karolinska Institute,Sweden,1,39,-,35,62,85.8
38,39Top 0.2%,Paris City University,France,3,254,958,60,17,85.7
39,40Top 0.2%,King's College London,United Kingdom,5,51,505,28,53,85.6
40,41Top 0.2%,Sorbonne University,France,4,103,324,92,19,85.5
41,42Top 0.3%,Dartmouth College,USA,25,45,18,107,286,85.4
42,43Top 0.3%,Washington University in St. Louis,USA,26,106,144,37,48,85.3
43,44Top 0.3%,Tsinghua University,China,1,346,56,-,20,85.2
44,45Top 0.3%,Institut Polytechnique de Paris,France,5,102,9,188,370,85.1
45,46Top 0.3%,Ludwig Maximilian University of Munich,Germany,1,56,254,57,52,85.0
46,47Top 0.3%,University of Minnesota - Twin Cities,USA,27,78,318,84,34,84.9
47,48Top 0.3%,University of Edinburgh,United Kingdom,6,55,473,63,49,84.9
48,49Top 0.3%,Peking University,China,2,369,58,-,25,84.8
49,50Top 0.3%,University of Manchester,United Kingdom,7,89,417,33,56,84.7
50,51Top 0.3%,University of British Columbia,Canada,3,109,554,87,35,84.6
51,52Top 0.3%,"University of California, Davis",USA,28,87,526,54,54,84.5
52,53Top 0.3%,University of Southern California,USA,29,252,133,29,75,84.5
53,54Top 0.3%,Pennsylvania State University,USA,30,297,171,56,55,84.4
54,55Top 0.3%,University of Chinese Academy of Sciences,China,3,-,1304,-,6,84.3
55,56Top 0.3%,Vanderbilt University,USA,31,392,89,65,71,84.2
56,57Top 0.3%,University of Melbourne,Australia,1,142,411,130,33,84.2
57,58Top 0.3%,Free University of Berlin,Germany,2,80,1123,44,76,84.1
58,59Top 0.3%,Humboldt University of Berlin,Germany,3,85,1532,50,69,84.0
59,60Top 0.3%,Ohio State University,USA,32,129,294,133,40,84.0
60,61Top 0.3%,Rockefeller University,USA,33,13,-,8,460,83.9
61,62Top 0.4%,Rutgers University,USA,34,230,150,27,95,83.8
62,63Top 0.4%,University of Zurich,Switzerland,2,90,578,58,72,83.8
63,64Top 0.4%,Brown University,USA,35,75,55,121,138,83.7
64,65Top 0.4%,Purdue University,USA,36,94,91,75,114,83.6
65,66Top 0.4%,University of Colorado Boulder,USA,37,153,169,52,97,83.6
66,67Top 0.4%,Georgia Institute of Technology,USA,38,313,165,26,115,83.5
67,68Top 0.4%,Heidelberg University,Germany,4,135,1012,83,60,83.5
68,69Top 0.4%,"Texas A&M University, College Station",USA,39,-,129,72,85,83.4
69,70Top 0.4%,Hebrew University of Jerusalem,Israel,1,29,346,39,195,83.3
70,71Top 0.4%,University of Virginia,USA,40,358,37,176,137,83.3
71,72Top 0.4%,Utrecht University,Netherlands,1,180,481,161,43,83.2
72,73Top 0.4%,University of Texas Southwestern Medical Center,USA,41,41,-,42,167,83.2
73,74Top 0.4%,Shanghai Jiao Tong University,China,4,-,140,-,29,83.1
74,75Top 0.4%,University of Pittsburgh,USA,42,234,208,267,38,83.0
75,76Top 0.4%,University of Alberta,Canada,4,327,488,67,88,83.0
76,77Top 0.4%,Uppsala University,Sweden,2,97,412,70,105,82.9
77,78Top 0.4%,Technical University of Munich,Germany,5,81,368,144,77,82.9
78,79Top 0.4%,"University of Maryland, College Park",USA,43,122,387,152,68,82.8
79,80Top 0.4%,University of Amsterdam,Netherlands,2,239,689,201,44,82.8
80,81Top 0.4%,National University of Singapore,Singapore,1,365,181,-,37,82.7
81,82Top 0.4%,"University of California, Irvine",USA,44,393,1229,34,110,82.7
82,83Top 0.5%,University of Oslo,Norway,1,121,798,79,94,82.6
83,84Top 0.5%,University of Birmingham,United Kingdom,8,50,486,170,103,82.6
84,85Top 0.5%,Zhejiang University,China,5,-,351,-,32,82.5
85,86Top 0.5%,University of Florida,USA,45,326,426,139,65,82.5
86,87Top 0.5%,Weizmann Institute of Science,Israel,2,24,-,51,289,82.4
87,88Top 0.5%,Leiden University,Netherlands,3,124,1068,77,100,82.4
88,89Top 0.5%,Fudan University,China,6,353,93,-,59,82.3
89,90Top 0.5%,Boston University,USA,46,428,111,200,80,82.3
90,91Top 0.5%,University of Rochester,USA,47,65,70,132,185,82.2
91,92Top 0.5%,University of Sydney,Australia,2,198,627,-,36,82.2
92,93Top 0.5%,University of Bristol,United Kingdom,9,186,430,78,99,82.1
93,94Top 0.5%,Erasmus University Rotterdam,Netherlands,4,535,68,270,89,82.1
94,95Top 0.5%,University of Arizona,USA,48,498,237,73,107,82.1
95,96Top 0.5%,École Polytechnique Fédérale de Lausanne,Switzerland,3,-,83,112,124,82.0
96,97Top 0.5%,University of Göttingen,Germany,6,44,369,104,162,82.0
97,98Top 0.5%,"University of California, Santa Barbara",USA,49,211,535,21,156,81.9
98,99Top 0.5%,Carnegie Mellon University,USA,50,70,113,40,223,81.9
99,100Top 0.5%,Osaka University,Japan,3,145,74,124,147,81.8

In [95]:
top_100=wru_ranking.head(100)
top_100[top_100['Faculty Rank'] == '-'].head(100)
# wru_ranking[wru_ranking['Educational Rank'] == '-'].head(100)

,World Rank,University Names,Locat,National Rank,Educational Rank,Employability Rank,Faculty Rank,Research Rank,Score
43,44Top 0.3%,Tsinghua University,China,1,346,56,-,20,85.2
48,49Top 0.3%,Peking University,China,2,369,58,-,25,84.8
54,55Top 0.3%,University of Chinese Academy of Sciences,China,3,-,1304,-,6,84.3
73,74Top 0.4%,Shanghai Jiao Tong University,China,4,-,140,-,29,83.1
80,81Top 0.4%,National University of Singapore,Singapore,1,365,181,-,37,82.7
84,85Top 0.5%,Zhejiang University,China,5,-,351,-,32,82.5
88,89Top 0.5%,Fudan University,China,6,353,93,-,59,82.3
91,92Top 0.5%,University of Sydney,Australia,2,198,627,-,36,82.2

In [96]:
top_100=wru_ranking.head(100)
top_100[top_100['Research Rank'] == '-'].head(100)

Empty DataFrame
Columns: [World Rank, University Names, Locat, National Rank, Educational Rank, Employability Rank, Faculty Rank, Research Rank, Score]
Index: []

In [97]:
top_100=wru_ranking.head(100)
top_100[top_100['Employability Rank'] == '-'].head(100)

,World Rank,University Names,Locat,National Rank,Educational Rank,Employability Rank,Faculty Rank,Research Rank,Score
37,38Top 0.2%,Karolinska Institute,Sweden,1,39,-,35,62,85.8
60,61Top 0.3%,Rockefeller University,USA,33,13,-,8,460,83.9
72,73Top 0.4%,University of Texas Southwestern Medical Center,USA,41,41,-,42,167,83.2
86,87Top 0.5%,Weizmann Institute of Science,Israel,2,24,-,51,289,82.4

In [98]:
top_100=wru_ranking.head(100)
top_100[top_100['Educational Rank'] == '-'].head(100)

,World Rank,University Names,Locat,National Rank,Educational Rank,Employability Rank,Faculty Rank,Research Rank,Score
35,36Top 0.2%,"University of California, San Francisco",USA,23,-,1554,15,27,86.0
54,55Top 0.3%,University of Chinese Academy of Sciences,China,3,-,1304,-,6,84.3
68,69Top 0.4%,"Texas A&M University, College Station",USA,39,-,129,72,85,83.4
73,74Top 0.4%,Shanghai Jiao Tong University,China,4,-,140,-,29,83.1
84,85Top 0.5%,Zhejiang University,China,5,-,351,-,32,82.5
95,96Top 0.5%,École Polytechnique Fédérale de Lausanne,Switzerland,3,-,83,112,124,82.0